<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scrietlogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScrietLogIn">
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".sign"
            android:exported="false" />
        <activity
            android:name=".quiz"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".sessional"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".attendance"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".content"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".payment"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".profile"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".splash_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>